{% extends 'homebase.html.twig' %}
{% block title%}
	{{data[0].title}}
{% endblock %}
{% block keywords%}
	{{ data[0].keywords }}
{% endblock %}
{% block description%}
	{{ data[0].description }}
{% endblock %}


{% block body %}
	{% block slider %}
		{% include('home/slider.html.twig') %}
	{% endblock %}
	<section class="ftco-section">
		<div class="container">
			<div class="row d-flex">


				{% for rs in blogs %}
					<div class="col-md-4 d-flex ftco-animate">
						<div class="blog-entry">
							<a href="{{path('travel_show', {'id':rs.id})}}" class="block-20" style="background-image: url('{{asset('uploads/images/' ~ rs.image)}}');"></a>
							<div class="text mt-3 float-right d-block">
								<div class="d-flex align-items-center mb-4 topp">
									<div class="one">
										<span class="day">21</span>
									</div>
									<div class="two">
										<span class="yr">2019</span>
										<span class="mos">August</span>
									</div>
								</div>
								<h3 class="heading">
									<a href="{{path('travel_show', {'id':rs.id})}}">{{ rs.title }}</a>
								</h3>
								<p>{{ rs.description }}</p>
							</div>

						</div>
					</div>
				{% endfor %}

			</div>
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<ul>
							<li>
								<a href="#">&lt;</a>
							</li>
							<li class="active">
								<span>1</span>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">&gt;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
